<div class="loading_wrapper invisible">
  <!-- ################# LOADING ############# -->
  <%- include('./loading.ejs');  -%>
</div>

<div class="myrides_wrapper  invisible">
</div>

<div class="myrides_container">
  <section>
  <div class="rider_profile">
    <!-- rider profile top -->
    <div class="rider_profile-top">
      <div class="rider_profile-img" >
        <img src="/rider/profile/<%= rider_profile.profile%>" class="rider_img" alt="profile">
      </div>
      <div class="rider_profile-name">
        <p><%= rider_profile.name %></p>
      </div>
    </div>

    <!-- rider profile bottom -->
    <div class="rider_profile-bottom">
      <div class="rider_profile-text">
        <span class="text-muted my-2">"<%= rider_profile.bio %>"</span>
      </div>

      <div class="rider_profile-text">

        <p class="text-capitalize "><i class="fab fa-whatsapp" style="color: #0bc30b;"></i>WhatsApp no:</p>
        <p class=" text-capitalize"><a href="https://api.whatsapp.com/send?phone=<%= rider_profile.whatsappno %>"><%= rider_profile.whatsappno %></a></p>


      </div>
      <div class="rider_profile-text">
        <p class="text-capitalize "><i class="fas fa-mobile-alt" style="color:var(--secondary-color);"></i>Phone no:</p>
        <p class=" text-capitalize"><%= rider_profile.phoneno %></p>


      </div>
      <div class="rider_profile-text">
        <p class="text-capitalize "><i class="fas fa-car" style="color:var(--secondary-color);"></i>Expereince:</p>
        <p class=" text-capitalize"><%= rider_profile.drivingexpereince %></p>


      </div>
      <div class="rider_profile-text">
        <p class="text-capitalize "><i class="fas fa-envelope-open-text" style="color:var(--secondary-color);"></i>Email:</p>
        <p> <%= rider_profile.email %><br>
          <% if(rider_profile.is_email_verified){ %>
          <span class="text-success">(verified)</span>
          <%}else{%>
          <span class="text-danger">(not verified)</span>
          <%}%>
        </p>
      </div>

       <div class="rider_profile-text">
        <p class="text-capitalize ">Ride's posted:</p>
        <p class=" text-capitalize"><%= rider_profile.no_of_ride %></p>
      </div>
       <div class="rider_profile-text">
        <p class="text-capitalize ">Date of birth</p>
        <p class=" text-capitalize"><%= new Date(rider_profile.date_of_birth).toDateString()%></p>
      </div>
      <div class="rider_profile-text">
        <p class="text-capitalize ">Member since:</p>
        <p class=" text-capitalize"><%= new Date(rider_profile.created_at).toDateString() %></p>
      </div>


    </div>

  </div>
</section>
<p class="text-uppercase text-primary text-center mt-2">Posted Ride's</p>

  <% if(!(typeof rides==="undefined")) {%>
  <% if(rides.length>0) { %>
  <% rides.forEach((ride,i)=>{ %>
  <div class="myrides mb-5">

    <div class="myrides-left">
      <% if(ride.type==="taxi"){ %>
      <img src="/public/img/taxi.jpg" alt="vechiles">
      <% }else{ %>
      <img src="/public/img/truck.svg" alt="vechiles">
      <% } %>
    </div>

    <div class="myrides-right">
      <div class="vechile_type font-weight-bold">
        <p class="text-capitalize m-0"><%=ride.type%></p>
      </div>

      <div class="myrides-right-location">
        <div class="location_from text-muted  mx-2">
          <p class="text-capitalize m-0"><i class="fas fa-circle" style="color: var(--secondary-color);"></i><%=ride.from%></p>
        </div>
        <span class="line"></span>
        <div class="location_to text-muted  mx-2">
          <p class="text-capitalize m-0"><i class="fas fa-circle" style="color: var(--secondary-color);"></i><%=ride.to%>
          <p>
        </div>
      </div>
      <div class="myrides-right-detail">
        <div class="ride_date text-muted mx-2">

          <p class="text-capitalize m-0"><i class="far fa-calendar-alt"></i><%=new Date(  ride.date).toDateString()%></p>
        </div>
        <div class="ride_time text-muted mx-2">
          <p class="text-capitalize m-0"><i class="far fa-clock"></i><%=ride.time%></p>
        </div>

        <% if(ride.passenger) { %>
        <div class="ride_passenger text-muted mx-2">
          <p class="text-capitalize m-0"><i class="fas fa-users"></i></i><%=ride.passenger%></p>
        </div>
        <% } %>

        <% if(ride.amount) { %>
        <div class="ride_amount text-muted mx-2">
          <p class="text-capitalize m-0"><i class="fas fa-rupee-sign"></i><%=ride.amount%></p>
        </div>
        <% } %>
        <% if(ride.model) { %>
        <div class="ride_model text-muted mx-2">
          <p class="text-capitalize m-0"> <i class="fas fa-car-side"></i><%=ride.model%></p>
        </div>
        <% } %>
        <% if(ride.status==="unbooked") { %>
        <div class="ride_model text-muted mx-2">
          <p class="text-capitalize m-0 text-danger font-weight-bold"><%=ride.status%></p>
        </div>

        <% }else{ %>
        <div class="ride_model text-muted mx-2">
          <p class="text-capitalize m-0 text-success font-weight-bold"><%=ride.status%></p>
        </div>
        <% } %>
      </div>
    </div>
    
       <div class="myrides-link">
      <div class="myrides-dot" index=<%= i %>>
        <div class="small_dot" index=<%= i %>></div>
        <div class="small_dot" index=<%= i %>></div>
        <div class="small_dot" index=<%= i %>></div>

      </div>
          <div class="myrides_dropdown index<%= i %>  invisible">
          

            <p class="myrides_dropdown-option2 text-capitalize" id="<%=ride._id%>">remove</p>
            <p class="myrides_dropdown-option1 text-capitalize"><a href="/rider/get/booked/users/id/<%=ride._id%>">co-travellers</a></p>
          </div>
    </div>

  </div>
  <%});%>
  <%}else { %>
  <p class="text-muted text-capitalize text-center m-5">No ride's found</p>
  <% } %>
</div>
<%}else { %>
<p class="text-muted text-capitalize text-center m-5">No ride's found</p>
<% }%>