<div class="loading_wrapper invisible">
  <!-- ################# LOADING ############# -->
  <%- include('./loading.ejs');  -%>
</div>


<div class="myrides_wrapper  invisible">
</div>
<section>
  <div class="rider_profile">
    <!-- rider profile top -->
    <div class="rider_profile-top">
      <div class="rider_profile-img">
        <img src="/rider/profile/<%= user_profile.profile%>" class="rider_img">
      </div>
      <div class="rider_profile-name">
        <p><%= user_profile.name %></p>
      </div>
    </div>

    <!-- rider profile bottom -->
    <div class="rider_profile-bottom">
     
      <div class="rider_profile-text">

        <p class="text-capitalize "><i class="fab fa-whatsapp" style="color: #0bc30b;"></i>WhatsApp no:</p>
        <p class=" text-capitalize"><a href="https://api.whatsapp.com/send?phone=<%= user_profile.whatsappno %>"><%= user_profile.whatsappno %></a></p>


      </div>
      
     <div class="rider_profile-text">
        <p class="text-capitalize "><i class="fas fa-envelope-open-text" style="color:var(--secondary-color);"></i>Email:</p>
        <p> <%= user_profile.email %><br>
          <% if(user_profile.is_email_verified){ %>
          <span class="text-success">(verified)</span>
          <%}else{%>
          <span class="text-danger">(not verified)</span>
          <%}%>
        </p>
      </div>

       <div class="rider_profile-text">
        <p class="text-capitalize ">Ride's Booked:</p>
        <p class=" text-capitalize"><%= user_profile.no_of_booked %></p>
      </div>
      <div class="rider_profile-text">
        <p class="text-capitalize ">Member since:</p>
        <p class=" text-capitalize"><%= new Date(user_profile.created_at).toDateString() %></p>
      </div>


    </div>

  </div>
</section>
<div class="myrides_container">

  <p class="text-uppercase text-primary text-center mt-2">booked ride's </p>

  <% if(!(typeof rides==="undefined")) {%>
  <% if(rides.length>0) { %>
  <% rides.forEach((ride,i)=>{ %>
  <div class="myrides">

    <div class="myrides-left">
      <% if(ride.type==="taxi"){ %>
      <img src="/public/img/taxi.jpg" alt="vechiles">
      <% }else{ %>
      <img src="/public/img/truck.svg" alt="vechiles">
      <% } %>
    </div>

    <div class="myrides-right">
      <a href="/search/ride/id/<%=ride._id%>">
        <div class="vechile_type font-weight-bold">
          <p class="text-capitalize m-0"><%=ride.type%></p>
        </div>

        <div class="myrides-right-location">
          <div class="location_from text-muted  mx-2">
            <p class="text-capitalize m-0"><i class="fas fa-circle" style="color: var(--secondary-color);"></i><%=ride.from%></p>
          </div>
          <span class="line"></span>
          <div class="location_to text-muted  mx-2">
            <p class="text-capitalize m-0"><i class="fas fa-circle" style="color: var(--secondary-color);"></i><%=ride.to%>
            <p>
          </div>
        </div>
        <div class="myrides-right-detail">
          <div class="ride_date text-muted mx-2">

            <p class="text-capitalize m-0"><i class="far fa-calendar-alt"></i><%=new Date(	ride.date).toDateString()%></p>
          </div>
          <div class="ride_time text-muted mx-2">
            <p class="text-capitalize m-0"><i class="far fa-clock"></i><%=ride.time%></p>
          </div>

          <% if(ride.passenger) { %>
          <div class="ride_passenger text-muted mx-2">
            <p class="text-capitalize m-0"><i class="fas fa-riders"></i></i><%=ride.passenger%></p>
          </div>
          <% } %>

          <% if(ride.amount) { %>
          <div class="ride_amount text-muted mx-2">
            <p class="text-capitalize m-0"><i class="fas fa-rupee-sign"></i><%=ride.amount%></p>
          </div>
          <% } %>
          <% if(ride.model) { %>
          <div class="ride_model text-muted mx-2">
            <p class="text-capitalize m-0"> <i class="fas fa-car-side"></i><%=ride.model%></p>
          </div>
          <% } %>
          <% if(ride.passenger) { %>
          <div class="ride_passenger text-muted mx-2">
            <p class="text-capitalize m-0"><i class="fas fa-users"></i><%=ride.passenger%> Booked</p>
          </div>
          <% } %>

        </div>
      </a>
    </div>
   
  </div>
  <%});%>
  <%}else { %>
  <p class="text-muted text-capitalize text-center m-5">No ride's Booked so far </p>
  <% } %>
</div>
<%}else { %>
<p class="text-muted text-capitalize text-center m-5">No ride's Booked so far </p>
<% }%>