<div class="dropdown_wrapper  invisible">
</div>

<!-- ############# NAVIGATION #######################-->
<nav class="navbar navbar-expand-lg navbar-light ">

  <a class="navbar-brand" href="/" style="color:blue;"> 
    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" style="
    height: 25px;
    width: 25px;
"><g style="
    fill: blue;
"><g><path d="m360.995 209.749c-57.624 0-107.703 32.281-133.156 79.742l-52.257-27.481c9.789-24.957 8.122-53.529-5.359-77.529l81.037-58.969c45.953 38.658 116.512 5.719 116.512-54.311 0-39.127-31.82-70.958-70.931-70.958-52.509 0-86.35 55.006-63.974 101.588l-81.432 59.258c-58.315-52.151-151.435-10.455-151.435 67.802 0 50.15 40.783 90.949 90.912 90.949 27.706 0 52.552-12.467 69.241-32.083l56.193 29.554c-4.127 13.759-6.354 28.34-6.354 43.442 0 29.348 8.381 56.734 22.868 79.913 1.723-9.505 4.509-18.786 8.349-27.76 6.675-15.596 16.207-29.563 28.335-41.514l4.749-4.68c-2.656-6.439-4.574-13.176-5.684-20.122-2.735-17.118-.552-34.734 6.314-50.943 6.846-16.162 17.936-29.932 32.068-39.821 15.267-10.683 33.459-16.33 52.608-16.33 50.8 0 92.128 41.363 92.128 92.205 0 11.733-2.154 23.09-6.273 33.64l4.833 4.619c12.563 12.005 22.45 26.136 29.387 41.997 4.173 9.543 7.144 19.438 8.91 29.587 14.826-23.363 23.416-51.074 23.416-80.792 0-83.396-67.607-151.003-151.005-151.003z"></path><path d="m333.707 388.259c40.944 18.877 88.048-11.195 88.048-56.556 0-34.316-27.883-62.234-62.157-62.234-55.008 0-82.554 66.329-44.598 105.52-.215.11 8.028 8.35 18.707 13.27z"></path></g><path d="m460.938 464.553c0 3.48-.18 6.92-.53 10.31-26.55 23.44-61.42 37.66-99.61 37.66-38.2 0-73.07-14.22-99.62-37.67-.35-3.39-.53-6.82-.53-10.3 0-27.89 11.41-53.12 29.81-71.28 16.89 19.01 41.52 30.99 68.96 30.99 28.12 0 53.3-12.58 70.22-32.43 19.28 18.25 31.3 44.08 31.3 72.72z"></path></g></svg>
  <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" style="
    height: 25px;
    width: 25px;
"><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="256" x2="256" y1="481" y2="31"><stop offset="0" stop-color="#5558ff"></stop><stop offset="1" stop-color="#00c0ff"></stop></linearGradient><g><g><g><path d="m505.664 183.754-212-150c-4.575-3.237-10.577-3.653-15.557-1.077-4.98 2.577-8.107 7.715-8.107 13.322v75.385c-70.488 3.632-136.248 32.812-186.525 83.089-53.83 53.83-83.475 125.4-83.475 201.526v60c0 8.327 6.76 15.001 15.012 15.001 6.605 0 12.551-4.369 14.411-10.88l2.309-8.08c30.756-107.649 127.472-184.227 238.268-190.61v74.569c0 5.607 3.127 10.746 8.106 13.322 4.98 2.576 10.981 2.161 15.557-1.077l212-150c3.974-2.812 6.336-7.377 6.336-12.245s-2.361-9.433-6.335-12.245zm-205.664 133.257v-61.012c0-8.284-6.716-15-15-15-32.193 0-63.916 5.228-94.287 15.539-68.596 23.288-125.113 70.767-160.095 131.61 9.191-132.313 119.773-237.149 254.382-237.149 8.284 0 15-6.716 15-15v-61.012l171.03 121.012z" fill="url(#SVGID_1_)"></path></g></g></g></svg> -->ShareMyRide</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ">
      <% if((typeof rider==="undefined" && typeof user==="undefined" )) {%>
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <g fill="none" stroke="#05386b" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
              <path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z" />
            </g>
          </svg>
          Search a ride</a>
      </li>
      <li class="nav-item active mx-2">
        <a class="nav-link" href="/rider/get/ride/options">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ifAKCX iIDpvI mr-m" width="24" height="24" aria-hidden="true">
            <g fill="none" stroke="#05386b" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
              <circle cx="12" cy="12" r="11"></circle>
              <path d="M12 7v10M17 12H7"></path>
            </g>
          </svg>
          Offer a ride</a>
      </li>
      <li class="nav-item active">
        <img src="/public/img/user.svg" class="home_img" alt="profile">
        <svg width="20px" height="20px" viewBox="0 0 1024 1024" data-aut-id="icon" class="home_arrow" fill-rule="evenodd">
          <path class="rui-77aaa" d="M85.392 277.333h60.331l366.336 366.336 366.336-366.336h60.331v60.331l-408.981 409.003h-35.307l-409.045-409.003z"></path>
        </svg>
        <%- include('./homeDropDown.ejs');  -%>
      </li>

      <%}else if(typeof rider!="undefined"){%>
      <% if(rider.is_admin){ %>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/dashboard">Admin</a>
      </li>
      <% } %>

      <li class="nav-item active">
        <a class="nav-link" href="/">
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <g fill="none" stroke="#05386b" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
              <path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z" />
            </g>
          </svg>
          Search a ride</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rider/get/ride/options">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ifAKCX iIDpvI mr-m" width="24" height="24" aria-hidden="true">
            <g fill="none" stroke="#05386b" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
              <circle cx="12" cy="12" r="11"></circle>
              <path d="M12 7v10M17 12H7"></path>
            </g>
          </svg>
          Post ride</a>
      </li>

      <li class="nav-item active">
        <img src="/rider/profile/<%= rider.profile%>" class="user_img" alt="profile">
        <svg width="20px" height="20px" viewBox="0 0 1024 1024" data-aut-id="icon" class="arrow" fill-rule="evenodd">
          <path class="rui-77aaa" d="M85.392 277.333h60.331l366.336 366.336 366.336-366.336h60.331v60.331l-408.981 409.003h-35.307l-409.045-409.003z">

          </path>
        </svg>
        <%- include('./riderProfileDropDown.ejs');  -%>

      </li>

      <%} else {%>

      <li class="nav-item active">
        <a class="nav-link" href="/">
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <g fill="none" stroke="#05386b" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
              <path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z" />
            </g>
          </svg>
          Search a ride</a>
      </li>


      <li class="nav-item active">
        <img src="/user/profile/<%= user.profile%>" class="user_img" alt="profile">
        <svg width="20px" height="20px" viewBox="0 0 1024 1024" data-aut-id="icon" class="arrow" fill-rule="evenodd">
          <path class="rui-77aaa" d="M85.392 277.333h60.331l366.336 366.336 366.336-366.336h60.331v60.331l-408.981 409.003h-35.307l-409.045-409.003z">

          </path>
        </svg>
        <%- include('./userProfileDropDown.ejs');  -%>

      </li>
      <% } %>

    </ul>
  </div>
</nav>