<section>
	<div class="rider_profile">
		<!-- rider profile top -->
		<div class="rider_profile-top">
			<div class="rider_profile-img">
				 <img src="/public/img/user.svg" class="rider_img">
			</div>
			<div class="rider_profile-name">
				<p><%= rider_profile.name %></p>
			</div>
		</div>

		<!-- rider profile bottom -->
		<div class="rider_profile-bottom">
			<div class="rider_profile-text">
				<span class="text-muted my-2">"<%= rider_profile.bio %>"</span>
			</div>
			
			<div class="rider_profile-text">
				<p class="text-capitalize "><i class="fab fa-whatsapp" style="color: #0bc30b;"></i>WhatsApp no:</p>
				<p class=" text-capitalize"><%= rider_profile.whatsappno %></p>

				
			</div>
			<div class="rider_profile-text">
				<p class="text-capitalize "><i class="fas fa-mobile-alt" style="color:var(--secondary-color);"></i>Phone no:</p>
				<p class=" text-capitalize"><%= rider_profile.phoneno %></p>

				
			</div>
			<div class="rider_profile-text">
				<p class="text-capitalize "><i class="fas fa-car" style="color:var(--secondary-color);"></i>Expereince:</p>
				<p class=" text-capitalize"><%= rider_profile.drivingexpereince %></p>

				
			</div>
			<div class="rider_profile-text">
				<p class="text-capitalize "><i class="fas fa-rider-check" style="color: #0bc30b;"></i>Email Verified:</p>
				<p class=" text-capitalize"> Verified</p>

				
			</div>
		
		</div>

	</div>
</section>