<!DOCTYPE html>
<html>

<head>

  <title>Ride</title>
  <!-- ############# HEADER #######################-->
  <%- include('components/header.ejs');  -%>
  <!--Custom css-->
  <link rel="stylesheet" type="text/css" href="/public/styles/bookARide.css">

</head>

<body>
  <!-- ############# NAVIGATION #######################-->
  <%- include('components/nav.ejs') -%>
  <!-- ############# POPUP #######################-->
  <%- include('components/popup.ejs');  -%>

  <!-- ############# book a ride #######################-->
  <%- include('components/bookARide.ejs') -%>
</body>
<!-- #############  FOOTER #######################-->
<%- include('components/footer.ejs');  -%>
<script src="/public/js/bookARide.js"></script>
<script src="/public/js/popup.js"></script>

</html>