<!DOCTYPE html>
<html>

<head>

  <title>Booked User</title>
  <!-- ############# HEADER #######################-->
  <%- include('components/header.ejs');  -%>
  <!--Custom css-->
  <link rel="stylesheet" type="text/css" href="/public/styles/bookedUsers.css">

</head>

<body>
  <!-- ############# NAVIGATION #######################-->
  <%- include('components/nav.ejs') -%>
  <!-- ############# POPUP #######################-->
  <%- include('components/popup.ejs');  -%>

  <!-- ############# book a ride #######################-->
  <%- include('components/bookedUsers.ejs') -%>
</body>
<!-- #############  FOOTER #######################-->
<%- include('components/footer.ejs');  -%>

</html>