<!DOCTYPE html>
<html>
<head>

	 <title>ShareMyRide</title>
	 <!-- #############	HEADER #######################-->
	           <%- include('components/header.ejs');  -%>
     <!--Custom css-->
     <link rel="stylesheet" type="text/css" href="/public/styles/style.css">
</head>
<body>
      <!-- ############# NAVIGATION #######################-->
	           <%- include('components/nav.ejs');  -%>

	    <!-- ############# SEARCH #######################-->
             <%- include('components/search.ejs');  -%>
             <!-- ############# SECTION 1 #######################-->
             <%- include('components/section1.ejs');  -%>
              
              <!-- #############	FOOTER #######################-->
	           <%- include('components/homeFooter.ejs');  -%>

</body>
	 <!-- #############	FOOTER #######################-->
	           <%- include('components/footer.ejs');  -%>

         
</html>