<!DOCTYPE html>
<html>
<head>

	 <title>Rides</title>
	<!-- #############	HEADER #######################-->
	           <%- include('components/header.ejs');  -%>
     <!--Custom css-->
 
    <link rel="stylesheet" type="text/css" href="/public/styles/searchResult.css">
    
</head>

<body>
		 <!-- ############# NAVIGATION #######################-->
	           <%- include('components/nav.ejs');  -%>

	    <!-- ############# SEARCH BAR #######################-->
             <%- include('components/searchBar.ejs');  -%>

        <!-- ############# SEARCH #######################-->
             <%- include('components/searchResult.ejs');  -%>

</body>
	 <!-- #############	FOOTER #######################-->
	           <%- include('components/footer.ejs');  -%>
    <script src="/public/js/searchResult.js"></script>

</html>